<div class="container">
    <div class="card">
        <div class="card-header">
            Formulario de Unidades de Medidas
        </div>
        <div class="card-body">
            <form #medidasForm="ngForm">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="medida.descripcion"
                        name="descripcion" required minlength="3" #unidades="ngModel" />
                        <div class="alert alert-danger mt-2" *ngIf="unidades.invalid && (unidades.dirty || unidades.touched)">
                            <div *ngIf="unidades.errors.required">
                              El campo no debe estar vacio
                            </div>
                            <div *ngIf="unidades.errors.minlength">
                              El campo debe tener mínimo 3 carácteres
                            </div>
                          </div>

                </div>

                <button [disabled]="!medidasForm.form.valid"  type="submit" class="btn btn-success" (click)="create()"
                    *ngIf="!medida.id else elseBlock">Crear</button>
                <ng-template #elseBlock>
                    <button type="submit" class="btn btn-success me-2" (click)="update()">Actualizar</button>
                </ng-template>

                <button type="button" class="btn btn-danger ms-1" [routerLink]="['/unidades']">
                    Cancelar
                </button>
            </form>
        </div>
    </div>
</div>