<div class="container">
  <div class="card">
    <div class="card-header">
      Formulario de Marcas
    </div>
    <div class="card-body">
      <form #marcaForm="ngForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="marca.nombre" name="nombre"
            required minlength="3" #nombre="ngModel" />
            @if (nombre.invalid && (nombre.dirty || nombre.touched)) {
              <div class="alert alert-danger mt-2">
                @if (nombre.errors.required) {
                  <div>
                    El campo no debe estar vacio
                  </div>
                }
                @if (nombre.errors.minlength) {
                  <div>
                    El campo debe tener mínimo 3 carácteres
                  </div>
                }
              </div>
            }

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Detalle</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="detalle" [(ngModel)]="marca.detalle"
              required minlength="3" #detalle="ngModel" />
              @if (detalle.invalid && (detalle.dirty || detalle.touched)) {
                <div class="alert alert-danger mt-2">
                  @if (detalle.errors.required) {
                    <div>
                      El campo no debe estar vacio
                    </div>
                  }
                  @if (detalle.errors.minlength) {
                    <div>
                      El campo debe tener mínimo 3 carácteres
                    </div>
                  }
                </div>
              }
            </div>
            @if (!marca.id) {
              <button [disabled]="!marcaForm.form.valid" type="submit" class="btn btn-success" (click)="create()">Crear</button>
            } @else {
              <button type="submit" class="btn btn-success me-2" (click)="update()">Actualizar</button>
            }

            <button type="button" class="btn btn-danger ms-1" [routerLink]="['/marcas']">
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>