@use "variables" as var;

.maintenance-root {
  display: grid;
  grid-template-rows: var.$header-mobile auto;
  grid-template-areas: "sidebar" "main";
  @media screen and (min-width: 600px) {
    grid-template-rows: var.$header auto;
  }
}

mat-toolbar{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.maintenance-sidebar {
  padding: 1rem;
  min-height: 100%;
  @apply shadow-md;
}

mat-drawer{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.main {
  grid-area: main;
  min-height: calc(100vh - var.$header-mobile);
  @media screen and (min-width: 600px) {
    min-height: calc(100vh - var.$header);
  }
}
