<div class="container">
  <div class="card mt-3">
    <div class="card-header">Lista de Medidas</div>
    <div class="card-body">
      <button
        type="button"
        class="btn btn-primary"
        [routerLink]="['/unidades-form']"
      >
        Crear
      </button>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (m of medidas; track m) {
            <tr>
              <th>{{ m.id }}</th>
              <td>{{ m.descripcion }}</td>
              <td>
                <button
                  class="btn btn-warning"
                  [routerLink]="['/unidades-form', m.id]"
                >
                  Editar
                </button>
                <button class="btn btn-danger ms-1" (click)="deleteUnidades(m)">
                  Eliminar
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
