<div class="product-container">
  <div class="product-image">
    <p-galleria [value]="images" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions" [circular]="true"
      [numVisible]="3" [autoPlay]="true" [containerStyle]="{ 'max-width': '640px' }">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item.thumbnailImageSrc" style="display: block;" />
        </div>
      </ng-template>
    </p-galleria>

  </div>
  <div class="product-details mt-8">

    <h2>{{products.nombre}}</h2>
    <p><span>ID: </span>{{products.id}}</p>
    <p><span>Categoria: </span>{{products.categoria.nombre}} - {{products.categoria.detalle}}</p>
    <p><span>Descripción: </span>: {{products.descripcion}}</p>
    <p><span>Precio: </span> S/.{{products.precioVenta}}</p>
    <p><span>Stock Status: </span> {{products.inventoryStatus}}</p>

    <p-inputNumber [(ngModel)]="value1" [style]="{'width': '4rem'}" [showButtons]="true" buttonLayout="horizontal"
      spinnerMode="horizontal" inputId="horizontal" decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" />
    <div class="button-container">
      <button pButton label="Agregar al Carrito" icon="pi pi-shopping-cart" styleClass="ui-button-danger"
        severity="danger"></button>
    </div>
  </div>

</div>
<p-divider />

<div class="recomended-container">
  <h2>Productos similares que podrían interesarte</h2>
  <p-carousel [value]="productsM" [numVisible]="2" [numScroll]="1" [circular]="true" [autoplayInterval]="2000"
    [responsiveOptions]="responsiveOptions" [style]="{'max-width': '100%', 'margin': '0 auto'}">
    <ng-template let-productM pTemplate="item">
      <div class="carousel-item border-1 surface-border border-round m-2 p-3 ">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img [src]="'http://localhost:8080/api/mantenimiento/productos/img/'+ productM.ruta" [alt]="productM.nombre"
              class="carousel-image w-full border-round" style="max-width: 350px; max-height: 350px;" />
            <p-tag [value]="productM.inventoryStatus" [severity]="getSeverity(productM.inventoryStatus)"
              class="absolute" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
          </div>
        </div>
        <div class="mb-3 font-medium">
          {{ productM.nombre }}
        </div>
        <div class="mb-3">{{productM.descripcion}}</div>
        <div class="flex justify-content-between align-items-center">
          <div class="mt-0 font-semibold text-xl">
            {{ 'S/.' + productM.precioVenta }}
          </div>
          <span>
            <app-shop-button [entity]="productM" />
          </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
<p-divider />

<div class="comment-container">
  <h2>Reseñas sobre el producto</h2>
  <div class="card justify-content-center">
    <p-fieldset *ngFor="let item of resenas" [style]="{'margin-bottom': '20px'}">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 px-2">
          <p-avatar [image]="item.image" shape="circle"></p-avatar>
          <span class="font-bold">{{item.nombre}}</span>
        </div>
      </ng-template>
      <p class="m-0">
        {{item.comentario}}
      </p>
    </p-fieldset>
  </div>
</div>
<div class="card justify-content-center ">
  <p-button (click)="showDialog()" label="Agregar Comentario"  severity="danger"/>
  <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template pTemplate="header">
      <div class="inline-flex align-items-center justify-content-center gap-2">
        <span class="font-bold white-space-nowrap">
          Agregar Comentario
        </span>
      </div>
    </ng-template>
    <div class="flex align-items-center">
      <form [formGroup]="comentario">
        <textarea 
            rows="5" 
            cols="30" 
            pInputTextarea 
            formControlName="comentarioI"
            placeholder="Escribir comentario ..."
            style="margin-left: 18px;"
            >
        </textarea>
    </form>
    </div>

    <ng-template pTemplate="footer">
      <p-button label="Cancel" [text]="false" severity="danger" (click)="visible = false" />
      <p-button label="Save" [outlined]="false" severity="secondary" (click)="visible = false" (click)="enviarComentario()"/>
    </ng-template>
  </p-dialog>
</div>