<div class="container">
    <div class="text-center">
        <h1>Catálogo de Productos</h1>

        <div class="row text-center mt-4">
            <div class="col-lg-3 col-md-6 mb-4" *ngFor="let p of productos">
                <div class="card h-100">
                    <img class="card-img-top" src="https://wongfood.vtexassets.com/arquivos/ids/624580-800-auto?v=638155349024400000&width=800&height=auto&aspect=true" height="180" width="60" alt="" />
                    <div class="card-body">
                        <p class="card-text">Nombre: {{p.nombre}}</p>
                        <p class="card-text">Marca: {{p.marca.nombre}}</p>
                        <p class="card-text">Categoría: {{p.categoria.detalle}}</p>
                        <p class="card-text">Medida: {{p.medida.descripcion}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info">Ver Producto</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>