{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "tabWidth": 2,
        "printWidth": 80,
        "semi": true,
        "trailingComma": "es5",
        "singleQuote": true,
        "arrowParens": "avoid",
        "bracketSameLine": false,
        "endOfLine": "auto",
        "useTabs": false
      }
    }
  ]
}
