<div class="container">
  <div class=" card mt-2">
    <div class="card-header">
      Formulario de Categorías
    </div>
    <div class="card-body">
      <form #categoriaForm="ngForm">
        <div class="row">
          <div class="col-6">
            <label for="detalle" class="form-label">Detalle</label>
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="detalle" [(ngModel)]="categoria.detalle" name="detalle" required #detalle="ngModel"
          minlength="4">
          <div class="alert alert-danger mt-2" *ngIf="detalle.invalid && (detalle.dirty || detalle.touched)">
            <div *ngIf="detalle.errors.required">
              El campo no debe estar vacio
            </div>
            <div *ngIf="detalle.errors.minlength">
              El campo debe tener mínimo 4 carácteres
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success" (click)="create()" *ngIf="!categoria.id else elseBlock"
          [disabled]="!categoriaForm.form.valid">Crear</button>

        <ng-template #elseBlock>
          <button type="submit" class="btn btn-success" (click)="update()">Actualizar</button>
        </ng-template>
        <button type="button" routerLink="/" class="btn btn-danger ms-2">Cancelar</button>
      </form>
    </div>
  </div>
</div>