<section class="p-4">
  <h3 class="text-gray-700 text-2xl">Categorias</h3>
  <div class="flex justify-end w-full py-4">
    <button mat-raised-button color="primary" (click)="openDialogCreate()">
      Nuevo
    </button>
  </div>
</section>

<section class="p-4">
  <table mat-table [dataSource]="dataSource">
    @for (data of displayedColumns; track data) {
      <ng-container [matColumnDef]="data">
        <th mat-header-cell *matHeaderCellDef>{{ data | titlecase }}</th>
        <td mat-cell *matCellDef="let cell">
          @if (data === 'estado') {
            <mat-checkbox
              #ref
              (click)="onChangeState(cell[data], ref)"
              [checked]="cell[data]"
              color="primary"
            ></mat-checkbox>
          } @else if (data === 'acciones') {
            <button
              mat-icon-button
              color="accent"
              (click)="openDialogEdit(cell)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          } @else {
            {{ cell[data] }}
          }
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[10]"
    aria-label="Páginas de articulos"
  ></mat-paginator>
</section>
