<div>
  <owl-carousel-o [options]="customOptions1">
    <ng-template carouselSlide
      ><img class="tw-h-80" src="assets/imagenes/banner_1.png" alt="..."
    /></ng-template>
    <ng-template carouselSlide
      ><img class="tw-h-80" src="assets/imagenes/banner_2.png" alt="..."
    /></ng-template>
    <ng-template carouselSlide
      ><img class="tw-h-80" src="assets/imagenes/banner_3.png" alt="..."
    /></ng-template>
  </owl-carousel-o>
</div>

<div style="margin: 8px">
  <h1>Lo más vendido</h1>
</div>

<div class="card">
  <p-carousel
    [value]="products"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [autoplayInterval]="2000"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img
              [src]="
                'http://localhost:8080/api/mantenimiento/productos/img/' +
                product.ruta
              "
              [alt]="product.nombre"
              class="w-full border-round"
            />
            <p-tag
              [value]="product.inventoryStatus"
              [severity]="getSeverity(product.inventoryStatus)"
              class="absolute"
              [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
            />
          </div>
        </div>
        <div class="mb-3 font-medium">
          {{ product.nombre }}
        </div>
        <div class="mb-3">{{ product.descripcion }}</div>
        <div class="flex justify-content-between align-items-center">
          <div class="mt-0 font-semibold text-xl">
            {{ product.precioVenta | currency: 'S/' : 'symbol' : '1.2-2' }}
          </div>
          <span>
            <app-shop-button [entity]="product" />
          </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div class="tw-grid" style="padding: 4px">
  <div class="col">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">1</div>
  </div>
  <div class="col">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">2</div>
  </div>
  <div class="col">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">3</div>
  </div>
</div>
