.card-title {
    font-family: Arial, Helvetica, sans-serif; /* Tipo de fuente */
    font-size: 32px;                   /* Tamaño de fuente */
    font-weight: 800;                  /* Grosor de la fuente */
    color: #333;                       /* Color del texto */
    margin: 0 0 10px;                  /* Margen */
    padding: 0;                        /* Relleno */
    text-align: center;                /* Alineación del texto */
  }
  