<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Detalles del producto <small>{{ producto.nombre }}</small>
  </h1>

  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <img
              class="img-fluid rounded"
              src="http://localhost:8080/tienda/images/img/{{ producto.ruta }}"
              width="450"
              alt=""
            />
          </a>
        </div>
        <div class="col-lg-6">
          <form action="carrito.html" method="POST">
            <h2 class="card-title">{{ producto.nombre }}</h2>

            <ul class="list-group">
              <li class="list-group-item">
                <h5>Precio:</h5>
              </li>
              <li class="list-group-item">
                <p>Descripción:</p>
                <p>{{ producto.descripcion }}</p>
              </li>
              <li class="list-group-item">
                <p>Marca:</p>
                <p>{{ producto.marca.detalle }}</p>
              </li>
              <li class="list-group-item">
                <p>Categoría</p>
                <p>{{ producto.categoria.detalle }}</p>
              </li>
              <li class="list-group-item">
                <p>Unidad</p>
                <p>{{ producto.medida.descripcion }}</p>
              </li>
              <li class="list-group-item">
                <h6>
                  Cantidad:
                  <input
                    type="number"
                    id="cantidad"
                    name="cantidad"
                    autocomplete="off"
                    min="1"
                    max="5"
                    value="1"
                  />
                </h6>
              </li>
            </ul>

            <button type="submit" class="btn btn-dark mt-2">
              Añadir al carrito
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
