<div class="container mt-4">
  <div class="card">
    <div class="card-header">Marcas</div>
    <div class="card-header">
      <button
        type="button"
        class="btn btn-primary"
        [routerLink]="['/marcas-form']"
      >
        Nuevo
      </button>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Detalle</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (m of marcas; track m) {
            <tr>
              <th scope="row">{{ m.id }}</th>
              <td>{{ m.nombre }}</td>
              <td>{{ m.detalle }}</td>
              <td>
                <button
                  class="btn btn-warning"
                  [routerLink]="['/marcas-form', m.id]"
                >
                  Editar
                </button>
                <button
                  class="btn btn-danger ms-1"
                  (click)="deleteCategoria(m)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
