<mat-toolbar class="custome-toolbar">
  <div class="tw-flex tw-gap-4">
    <p-button
      icon="pi pi-bars"
      [rounded]="true"
      [text]="true"
      severity="contrast"
      (click)="menuEvent.emit()"
    />
    <img
      routerLink="/"
      src="assets/imagenes/logo-banner.png"
      alt="logo_banner"
      class="img-banner sm:tw-hidden md:tw-block"
      style="cursor: pointer"
    />
  </div>

  <div class="spacer">
    <input
      class="search-bar"
      type="text"
      placeholder="Hola, ¿qué estás buscando?"
    />
  </div>

  <div class="tw-flex tw-gap-2 tw-items-center">
    <a mat-button> <mat-icon>inventory</mat-icon> Mis Pedidos</a>
    @if (authStore.isLogged()) {
      <a mat-button [matMenuTriggerFor]="menuUser">
        <mat-icon>person</mat-icon> {{ dtoken?.name }}
      </a>
    } @else {
      <a mat-button [matMenuTriggerFor]="menuUser">
        <mat-icon>person</mat-icon> Mi Cuenta
      </a>
    }

    <mat-icon
      class="tw-ml-1 tw-text-gray-900 hover:tw-cursor-pointer"
      matBadgeColor="accent"
      [matBadge]="shopStore.entities().length"
      [matBadgeHidden]="shopStore.entities().length < 1"
      matBadgeSize="medium"
      (click)="shopCartEvent.emit()"
    >
      shopping_cart
    </mat-icon>
  </div>
</mat-toolbar>

<mat-menu #menuUser="matMenu">
  @if (authStore.isLogged()) {
    <button mat-menu-item (click)="authStore.logout()">
      <mat-icon>logout</mat-icon> Cerrar Sesion
    </button>
  } @else {
    <button mat-menu-item routerLink="/autenticacion">
      <mat-icon>login</mat-icon> Iniciar Sesion
    </button>
  }
  <button mat-menu-item><mat-icon>person</mat-icon> Perfil</button>
</mat-menu>
