<div class="container">
    <div class="card mt-2">
        <div class="card-header">Formulario de Productos</div>
        <div class="card-body">
            <div class="align-middle">
                <form #productosForm="ngForm">
                    <div class="row mt-1">
                        <div class="col-3">
                            <label class="form-label">Nombre</label>
                            <input class="form-control" type="text" [(ngModel)]="producto.nombre" name="nombre" />
                        </div>
                        <div class="col-2">
                            <label class="form-label">Estado</label>
                            <input class="form-control" type="text" [(ngModel)]="producto.estado" name="estado" />
                        </div>
                        <div class="col-7">
                            <label class="form-label">Imagen</label>
                            <input type="file" class="form-control" [(ngModel)]="producto.ruta" name="img" />
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-3">
                            <label class="form-label">Marca</label>
                            <select [compareWith]="comparar" class="form-select" [(ngModel)]="producto.marca" name="marca">
                                <option *ngFor="let m of marcas" [ngValue]="m">{{m.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label class="form-label">Categoría</label>
                            <select [compareWith]="comparar" class="form-select" [(ngModel)]="producto.categoria" name="categoria">
                                <option *ngFor="let c of categorias" [ngValue]="c">{{c.detalle}}</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label class="form-label">Unidad de Medida</label>
                            <select [compareWith]="comparar" class="form-select" [(ngModel)]="producto.medida" name="medida" id="">
                                <option *ngFor="let u of medidas" [ngValue]="u">{{u.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <label class="form-label">Descripción</label>
                            <textarea class="form-control" type="text-area" [(ngModel)]="producto.descripcion"
                                name="descripcion">
                             </textarea>
                        </div>
                    </div>

                    <div class="row mt-3"></div>
                    <button type="submit" class="btn btn-success" (click)="create2()"
                        *ngIf="!producto.id; else elseBlock">
                        Crear
                    </button>
                    <ng-template #elseBlock>
                        <button type="submit" class="btn btn-success me-2" (click)="update()">
                            Actualizar
                        </button>
                    </ng-template>
                    <button type="button" class="btn btn-danger ms-1" [routerLink]="['/productos']">
                        Cancelar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>