<div class="container">
  <div class="card mt-3">
    <div class="card-header">Lista de Medidas</div>
    <div class="card-body">
      <button type="button" class="btn btn-primary" [routerLink]="['/productos-form']">Crear</button>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th scope="col">Marca</th>
            <th scope="col">Categoría</th>
            <th scope="col">Unidad de medida</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (p of productos; track p) {
            <tr>
              <td>{{p.id}}</td>
              <td>{{p.nombre}}</td>
              <td>{{p.descripcion}}</td>
              <td>{{p.estado}}</td>
              <td>{{p.marca.nombre}}</td>
              <td>{{p.categoria.detalle}}</td>
              <td>{{p.medida.descripcion}}</td>
              <td>
                <button  class="btn btn-warning" [routerLink]="['/productos-form',p.id]">Editar</button>
                <button  class="btn btn-danger ms-1" (click)="deleteProducto(p)">Eliminar</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
