<div class="tw-max-w-xl">
  <div class="tw-p-8">
    <h4 class="tw-text-xl tw-mb-6 tw-text-center">
      {{ data ? 'Editar' : 'Registro de nuevo' }} producto
    </h4>
    <form
      [formGroup]="form"
      class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-2 tw-mx-4"
      (submit)="onSubmit()"
    >
      <mat-checkbox class="" formControlName="estado"> Estado </mat-checkbox>

      <div class="tw-col-span-1 md:tw-col-span-2">
        <p-fileUpload
          (onSelect)="fileUpload($event)"
          accept="image/*"
          maxFileSize="1000000"
        >
          <ng-template
            pTemplate="header"
            let-chooseCallback="chooseCallback"
            let-clearCallback="clearCallback"
            let-uploadCallback="uploadCallback"
            let-files="files"
          >
            <div
              class="tw-flex tw-flex-wrap tw-justify-content-between tw-align-items-center tw-flex-1 tw-gap-2"
            >
              <div class="tw-flex tw-gap-2 tw-justify-end">
                <p-button
                  (onClick)="choose($event, chooseCallback)"
                  icon="pi pi-images"
                  [rounded]="true"
                  [outlined]="true"
                />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="empty">
            <div class="fnx-lex tw-items-center tw-justify-center tw-flex-col">
              <i
                class="pi pi-cloud-upload tw-flex tw-border-2 tw-rounded-full tw-p-8"
                style="font-size: 1.5rem"
              ></i>
              <p class="tw-text-md tw-mt-4 tw-mb-0">
                Arrastre y suelta un archivo aquí para cargarlo.
              </p>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>

      <app-form-field>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input appOnlyLetters formControlName="nombre" matInput type="text" />
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Stock</mat-label>
          <input
            class="tw-text-end"
            formControlName="stock"
            matInput
            placeholder="0"
            type="number"
          />
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Unidad de medida</mat-label>
          <mat-select
            formControlName="medida"
            placeholder="Seleccione una medida"
          >
            <mat-option *ngFor="let medida of unidades()" [value]="medida.id">
              {{ medida.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Precio de venta</mat-label>
          <input
            formControlName="precioVenta"
            matInput
            class="text-end"
            placeholder="0.00"
            type="number"
          />
          <span matTextPrefix>S/.&nbsp;</span>
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select
            formControlName="categoria"
            placeholder="Seleccione una categoria"
          >
            <mat-option
              *ngFor="let categoria of categories()"
              [value]="categoria.id"
            >
              {{ categoria.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <mat-select
            formControlName="marca"
            placeholder="Seleccione una marca"
          >
            <mat-option *ngFor="let marca of marcas()" [value]="marca.id">
              {{ marca.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </app-form-field>

      <app-form-field class="md:tw-col-span-2">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            formControlName="descripcion"
            matInput
            type="text"
          ></textarea>
        </mat-form-field>
      </app-form-field>

      <div class="tw-flex tw-justify-center tw-gap-4 md:tw-col-span-2">
        <button
          class="grow"
          mat-stroked-button
          color="primary"
          mat-dialog-close
        >
          Cerrar
        </button>
        <button [disabled]="form.invalid" class="tw-grow" type="submit" mat-raised-button color="primary">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
