<div class="max-w-xl">
  <div class="p-8">
    <h4 class="text-xl mb-6 text-center">
      {{ data ? 'Editar' : 'Registro de nuevo' }} producto
    </h4>
    <form
      [formGroup]="form"
      class="grid grid-cols-1 md:grid-cols-2 gap-2 mx-4"
      (submit)="onSubmit()"
    >
      <mat-checkbox class="" formControlName="estado"> Estado </mat-checkbox>

      <div class="col-span-1 md:col-span-2">
        <p-fileUpload
          (onSelect)="fileUpload($event)"
          accept="image/*"
          maxFileSize="1000000"
        >
          <ng-template
            pTemplate="header"
            let-chooseCallback="chooseCallback"
            let-clearCallback="clearCallback"
            let-uploadCallback="uploadCallback"
            let-files="files"
          >
            <div
              class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2"
            >
              <div class="flex gap-2 justify-end">
                <p-button
                  (onClick)="choose($event, chooseCallback)"
                  icon="pi pi-images"
                  [rounded]="true"
                  [outlined]="true"
                />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="empty">
            <div class="flex items-center justify-center flex-col">
              <i
                class="pi pi-cloud-upload flex border-2 rounded-full p-8"
                style="font-size: 1.5rem"
              ></i>
              <p class="text-md mt-4 mb-0">
                Arrastre y suelta un archivo aquí para cargarlo.
              </p>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>

      <app-form-field>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input appOnlyLetters formControlName="nombre" matInput type="text" />
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Stock</mat-label>
          <input
            class="text-end"
            formControlName="stock"
            matInput
            placeholder="0"
            type="number"
          />
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Unidad de medida</mat-label>
          <mat-select
            formControlName="medida"
            placeholder="Seleccione una medida"
          >
            <mat-option *ngFor="let medida of unidades()" [value]="medida.id">
              {{ medida.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Precio de venta</mat-label>
          <input
            formControlName="precioVenta"
            matInput
            class="text-end"
            placeholder="0.00"
            type="number"
          />
          <span matTextPrefix>S/.&nbsp;</span>
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select
            formControlName="categoria"
            placeholder="Seleccione una categoria"
          >
            <mat-option
              *ngFor="let categoria of categories()"
              [value]="categoria.id"
            >
              {{ categoria.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <mat-select
            formControlName="marca"
            placeholder="Seleccione una marca"
          >
            <mat-option *ngFor="let marca of marcas()" [value]="marca.id">
              {{ marca.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </app-form-field>

      <app-form-field class="md:col-span-2">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            formControlName="descripcion"
            matInput
            type="text"
          ></textarea>
        </mat-form-field>
      </app-form-field>

      <div class="flex justify-center gap-4 md:col-span-2">
        <button mat-button color="warn" mat-dialog-close>Cerrar</button>
        <button type="submit" mat-raised-button color="primary">Guardar</button>
      </div>
    </form>
  </div>
</div>
