<div class="login-root">
  <header>
    <mat-toolbar class="tw-shadow-sm">
      <div class="tw-flex">
        <button routerLink="/" mat-stroked-button>
          <mat-icon>chevron_left</mat-icon> Volver a inicio
        </button>
      </div>
    </mat-toolbar>
  </header>
  <main class="main-content">
    <app-loading [isLoading]="authStore.isLoading()">
      <div class="tw-relative tw-grid tw-tw-grid-cols-1 md:tw-grid-cols-[45%_55%] tw-h-full">
        <div class="tw-absolute md:tw-relative tw-h-full tw-w-full">
          <div class="tw-bg-black tw-opacity-20 tw-absolute tw-inset-0 tw-z-10 md:tw-hidden"></div>
          <picture>
            <source
              type="image/webp"
              srcset="assets/imagenes/login-banner.webp"
            />
            <source
              type="image/jpg"
              srcset="assets/imagenes/login-banner.jpg"
            />
            <img
              class="tw-w-full tw-h-full tw-object-cover"
              src="assets/imagenes/login-banner.jpg"
              alt="login banner"
            />
          </picture>
        </div>
        <div class="tw-py-12 tw-px-8 tw-max-w-2xl tw-mx-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </app-loading>
  </main>
</div>
