<div class="login-root">
  <header>
    <mat-toolbar class="shadow-sm">
      <div class="flex">
        <button routerLink="/" mat-stroked-button>
          <mat-icon>chevron_left</mat-icon> Volver a inicio
        </button>
      </div>
    </mat-toolbar>
  </header>
  <main class="main-content">
    <app-loading [isLoading]="authStore.isLoading()">
      <div class="relative grid grid-cols-1 md:grid-cols-[45%_55%] h-full">
        <div class="absolute md:relative h-full w-full">
          <div class="bg-black opacity-20 absolute inset-0 z-10 md:hidden"></div>
          <picture>
            <source
              type="image/webp"
              srcset="assets/imagenes/login-banner.webp"
            />
            <source
              type="image/jpg"
              srcset="assets/imagenes/login-banner.jpg"
            />
            <img
              class="w-full h-full object-cover"
              src="assets/imagenes/login-banner.jpg"
              alt="login banner"
            />
          </picture>
        </div>
        <div class="py-12 px-8 max-w-2xl mx-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </app-loading>
  </main>
</div>
