<div class="tw-relative tw-min-w-96">
  <div
    class="tw-absolute tw-inset-0 tw-bg-white tw-opacity-80 tw-rounded-lg tw-z-10"
  ></div>
  <div class="tw-relative tw-p-4 tw-z-20">
    <h4
      class="tw-text-gray-700 tw-mb-10 tw-text-center tw-font-bold tw-text-xl"
    >
      Crear cuenta
    </h4>
    <form
      [formGroup]="formRegister"
      class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-x-4 tw-gap-y-1"
      (submit)="onSubmitRegister()"
    >
      <app-form-field>
        <mat-form-field class="md:tw-col-span-2">
          <mat-label>Correo electrónico</mat-label>
          <input
            formControlName="correo"
            matInput
            type="text"
            inputmode="email"
          />
        </mat-form-field>
      </app-form-field>

      <div class="tw-flex tw-gap-2">
        <app-form-field class="tw-grow" #contrasenia>
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input [mat-menu-trigger-for]="panel" #matMenuTriggerFor="matMenuTrigger" (focus)="matMenuTriggerFor.openMenu()" (blur)="matMenuTriggerFor.closeMenu()" autocomplete="off" #input formControlName="contrasenia" matInput [type]="hidePassword ? 'password' : 'text'" />
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-menu #panel>
              <div class="tw-flex tw-text-sm p-2">
                <ul class="tw-grid">
                  <li class="tw-flex tw-items-center tw-gap-1"><mat-icon>{{ (input.value | hasUpper) ? 'check' : 'error' }}</mat-icon> <p>1 mayúscula</p></li>
                  <li class="tw-flex tw-items-center tw-gap-1"><mat-icon>{{ (input.value | hasLower) ? 'check' : 'error' }}</mat-icon> <p>1 minuscula</p></li>
                  <li class="tw-flex tw-items-center tw-gap-1"><mat-icon>{{ (input.value | hasDigit) ? 'check' : 'error' }}</mat-icon> <p>1 número</p></li>
                  <li class="tw-flex tw-items-center tw-gap-1"><mat-icon>{{ (input.value | hasEspecial) ? 'check' : 'error' }}</mat-icon> <p>1 caracter especial</p></li>
                </ul>
              </div>
            </mat-menu>
          </mat-form-field>
          @if (
            formRegister.getError('passwordsDontMatch') && contrasenia.touched()
          ) {
            <p class="tw-ml-2 tw-text-sm tw-text-red-500">
              Las contraseñas no coinciden
            </p>
          }
          @if (
            formRegister.getError('invalidPassword') && contrasenia.touched()
          ) {
            <p class="tw-ml-2 tw-text-sm tw-text-red-500">
              No cumple con los requisitos
            </p>
          }
        </app-form-field>
        
        <!-- @if (formRegister.getError('invalidPassword') && contrasenia.touched()) {
        <mat-icon class="mt-4 text-sm" color="primary" matTooltip="Debe ser mínimo 8 caracteres, máximo 20 caracteres, al menos 1 mayuscula, 1 minuscula, 1 número y 1 caracter especial.">info</mat-icon>
      } -->
      </div>

      <app-form-field>
        <mat-form-field>
          <mat-label>Repetir contraseña</mat-label>
          <input
            formControlName="confirmarContrasenia"
            matInput
            [type]="hideConfirmPassword ? 'password' : 'text'"
          />
          <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input appOnlyLetters formControlName="nombre" matInput type="text" />
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Apellido paterno</mat-label>
          <input
            appOnlyLetters
            formControlName="apellidoPaterno"
            matInput
            type="text"
          />
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Apellido materno</mat-label>
          <input
            appOnlyLetters
            formControlName="apellidoMaterno"
            matInput
            type="text"
          />
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Tipo documento</mat-label>
          <mat-select formControlName="tipoDocumento" matInput type="text">
            <mat-option value="1">DNI</mat-option>
            <mat-option value="2">PS</mat-option>
          </mat-select>
        </mat-form-field>
      </app-form-field>

      <app-form-field>
        <mat-form-field>
          <mat-label>Número de documento</mat-label>
          <input
            appOnlyNumbers
            formControlName="numeroDocumento"
            matInput
            type="number"
            inputmode="numeric"
          />
        </mat-form-field>
      </app-form-field>

      <div class="tw-flex tw-justify-center md:tw-col-span-2">
        <button
          type="submit"
          class="tw-w-full"
          mat-raised-button
          color="primary"
        >
          Crear cuenta
        </button>
      </div>
    </form>

    <span class="tw-my-4 line-divider">o</span>

    <div class="tw-flex tw-justify-center">
      <button
        type="button"
        class="tw-w-full"
        routerLink="../login"
        mat-stroked-button
      >
        Ya tengo una cuenta
      </button>
    </div>
  </div>
</div>
