:root {
  --mdc-list-list-item-container-shape: 4px;
  --mdc-list-list-item-focus-state-layer-color: rgb(
    75 85 99 / var(--tw-text-opacity)
  );
  --mat-toolbar-container-background-color: white;
  --mat-sidenav-container-width: 240px;
}

.mdc-notched-outline__notch {
  border-right: none;
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none;
}

