.nav-item {
  border-radius: 0.25rem;
  cursor: pointer !important;
  @apply text-gray-600;
  &.active {
    @apply bg-blue-100;
  }
  &:hover:not(.active) {
    @apply bg-gray-100;
  }
}

.line-divider {
  display: flex;
  align-items: center;

  &::before,
  &::after{
    content: "";
    background-color: #edecec;
    height: 1px;
    flex-grow: 1;
    line-height: 0;
    margin-inline: 0.5rem;
  }
}

.main-content {
  height: calc(100vh - $header);
}

.bg-opacity {
  background-color: rgba(255, 255, 255, 0.7);
}
